/* unvisited link */
a:link {
    color: #000000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #000000;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #000000;
    text-decoration: none;
}
h1 {
    text-align: center;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 600%;

}
